In [1]:
#Tuple

In [2]:
tup = 4, 5, 6

In [3]:
tup

(4, 5, 6)

In [4]:
#complicated tuple or nested tuple

In [5]:
nested_tuple = (4, 5, 6), (7,8)

In [6]:
nested_tuple

((4, 5, 6), (7, 8))

In [7]:
#you can convert any sequence and iterator to a tuple by invoking tuple

In [8]:
tuple([1, 3, 5])

(1, 3, 5)

In [9]:
tup = tuple('string')

In [10]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
#access of elements

In [12]:
tup[0]

's'

In [13]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [14]:
#you cannot modify tuple after its creation

In [15]:
tup = ('string', [1,2], True)

In [16]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [17]:
#but you can modify mutable element of the tuple like list

In [18]:
tup[1].append(3)

In [19]:
tup

('string', [1, 2, 3], True)

In [20]:
#you can concatenate tuples using + operator

In [21]:
(4, None, 'foo') + (4,5)

(4, None, 'foo', 4, 5)

In [22]:
#copies of the tuple by multiplication

In [23]:
('foo', 'bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [24]:
#unpacking tuples

In [25]:
tup = (4, 5, 6)

In [26]:
a, b, c = tup

In [27]:
a

4

In [28]:
b

5

In [29]:
c

6

In [30]:
d

NameError: name 'd' is not defined

In [31]:
#even sequences with nested tuples can be unpacked

In [32]:
tup = 4, 5, (6, 7)

In [33]:
a, b, (c,d) = tup

In [34]:
d

7

In [35]:
c

6

In [36]:
#swap of variables

In [37]:
a, b = 1, 3

In [38]:
b, a = a, b

In [39]:
b

1

In [40]:
#common use of variable unpacking is iterating over sequences of tuples or lists:

In [41]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [44]:
for a, b, c, in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [45]:
#*rest for plucking soeme portion

In [46]:
values = 1, 2, 3, 4, 5

In [47]:
a, b, *rest = values

In [48]:
a, b

(1, 2)

In [49]:
rest

[3, 4, 5]

In [50]:
# there is nothing special about the rest name. Sometimes you can use _

In [53]:
a,b, *_ = values

In [55]:
a, b

(1, 2)

In [56]:
#count the number of occurrences

In [57]:
a = (1, 2, 3, 3, 3, 3, 3, 8, 0)

In [58]:
a.count(3)

5